/*!
 * @copyright &copy; Kartik Visweswaran, Krajee.com, 2014 - 2015
 * @version 1.5.2
 *
 * An extended checkbox plugin for Bootstrap 3 that allows three states and additional styles.
 *
 * For more JQuery/Bootstrap plugins and demos visit http://plugins.krajee.com
 * For more Yii related demos visit http://demos.krajee.com
 */
.cbx-loading {
    width: 25px;
    height: 25px;
    font-size: 0px;
    color: #fff;
    background: transparent url('../img/loading.gif') top left no-repeat;
    border: none;
}

.cbx, .cbx-container {
    display: inline-block;
    cursor: default;
    text-align: center;
    vertical-align: middle;
}

.cbx {
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    position: relative;
}

.cbx-label {
    cursor: pointer;
    font-weight: 400;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.cbx-label.disabled {
    cursor: not-allowed;
    opacity: .65;
}

.cbx-native input {
    position: absolute;
    margin: 5px;
}

label + .cbx-container, .cbx-container + label, .cbx-container + .cbx-container {
    margin-left: 5px;
}

label .cbx {
    margin: 0 5px;
}

.cbx-xs {
    width: 16px;
    height: 16px;
    font-size: 10px;
}

.cbx-sm {
    width: 20px;
    height: 20px;
    font-size: 13px;
}

.cbx-md {
    width: 34px;
    height: 34px;
    font-size: 15px;
}

.cbx-lg {
    border-radius: 4px;
    width: 30px;
    height: 30px;
    font-size: 20px;
}

.cbx-xl {
    border-radius: 5px;
    width: 36px;
    height: 36px;
    font-size: 24px;
}
.check--blue label .cbx{ border: 1px solid #fff; box-shadow: none; border-radius: 5px;}
.check--blue .cbx-icon { background:#2d3945; border-radius: 4px; color: #fff; line-height: 35px;}

.check--green label .cbx{ border: 1px solid #fff; box-shadow: none; border-radius: 5px;}
.check--green .cbx-icon { background:#5b5f00; border-radius: 4px; color: #fff; line-height: 35px;}
.cbx-icon {
    position: absolute;
    margin: 1px;;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.cbx-icon-null {
    background-color: #333;
}

.has-error .cbx-icon-null {
    background-color: #843534;
}

.has-success .cbx-icon-null {
    background-color: #66512c;
}

.has-warning .cbx-icon-null {
    background-color: #2b542c;
}

.cbx-xs .cbx-icon-null {
    padding: 4px;
    margin: 2px;
}

.cbx-sm .cbx-icon-null {
    padding: 5px;
    margin: 3px;
}

.cbx-md .cbx-icon-null {
    padding: 6px;
    margin: 4px;
}

.cbx-lg .cbx-icon-null {
    padding: 8px;
    margin: 5px;
}

.cbx-xl .cbx-icon-null {
    padding: 10px;
    margin: 6px;
}

.cbx-disabled .cbx-icon-null {
    background-color: #aaa;
}

.cbx-active {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    color: #333;
}

.cbx-active:hover, .cbx-active:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.cbx-disabled {
    color: #ddd;
    background: #fcfcfc;
    border: 1px solid #ddd;
    cursor: not-allowed;
}

.has-success .cbx-active {
    border-color: #3c763d;
    color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-success .cbx-active:hover, .has-success .cbx-active:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}

.has-warning .cbx-active {
    border-color: #8a6d3b;
    color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-warning .cbx-active:hover, .has-warning .cbx-active:focus {
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
}

.has-error .cbx-active {
    border-color: #a94442;
    color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-error .cbx-active:hover, .has-error .cbx-active:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.has-success .cbx-label {
    color: #2b542c;
}

.has-warning .cbx-label {
    color: #66512c;
}

.has-error .cbx-label {
    color: #843534;
}

.cbx-block {
    display: block;
    text-align: left;
}

.cbx-block + .cbx-block {
    margin: 5px 0 0 0;
}