-moz-box-sizing arguments,
-webkit-box-sizing arguments,
box-sizing arguments,
animation() {
  -webkit-animation: arguments;
  -moz-animation: arguments;
  -ms-animation: arguments;
  -o-animation: arguments;
  animation: arguments;
}
.margin--t05 {
  margin-top: 0.5em;
}
.margin--t1 {
  margin-top: 1em;
}
.margin--t2 {
  margin-top: 2em;
}
.margin--t3 {
  margin-top: 3em;
}
.margin--t4 {
  margin-top: 4em;
}
.margin--t5 {
  margin-top: 5em;
}
.margin--t6 {
  margin-top: 6em;
}
.margin--b0 {
  margin-bottom: 0;
}
.margin--b05 {
  margin-bottom: 0.5em;
}
.margin--b1 {
  margin-bottom: 1em;
}
.margin--b2 {
  margin-bottom: 2em;
}
.margin--b3 {
  margin-bottom: 3em;
}
.margin--b4 {
  margin-bottom: 4em;
}
.margin--b5 {
  margin-bottom: 5em;
}
.margin--b6 {
  margin-bottom: 6em;
}
.margin--all0 {
  margin: 0;
}
.padding--t02 {
  padding-top: 0.2em;
}
.padding--t05 {
  padding-top: 0.5em;
}
.padding--t1 {
  padding-top: 1em;
}
.padding--t2 {
  padding-top: 2em;
}
.padding--t3 {
  padding-top: 3em;
}
.padding--t4 {
  padding-top: 4em;
}
.padding--t5 {
  padding-top: 5em;
}
.padding--t6 {
  padding-top: 6em;
}
.padding--b02 {
  padding-bottom: 0.2em;
}
.padding--b05 {
  padding-bottom: 0.5em;
}
.padding--b1 {
  padding-bottom: 1em;
}
.padding--b2 {
  padding-bottom: 2em;
}
.padding--b3 {
  padding-bottom: 3em;
}
.padding--b4 {
  padding-bottom: 4em;
}
.padding--b5 {
  padding-bottom: 5em;
}
.padding--b6 {
  padding-bottom: 6em;
}
.padding--l1 {
  padding-left: 1em;
}
.padding--l2 {
  padding-left: 2em;
}
.padding--l3 {
  padding-left: 3em;
}
.padding--l4 {
  padding-left: 4em;
}
.padding--l5 {
  padding-left: 5em;
}
.padding--l6 {
  padding-left: 6em;
}
.padding--r0 {
  padding-right: 0;
}
.padding--r1 {
  padding-right: 1em;
}
.padding--r2 {
  padding-right: 2em;
}
.padding--r3 {
  padding-right: 3em;
}
.padding--r4 {
  padding-right: 4em;
}
.padding--r5 {
  padding-right: 5em;
}
@font-face {
  font-family: 'TodaySHOP-BF';
  src: url("fonts/TodaySHOP-Bold.eot");
  src: url("fonts/TodaySHOP-Bold.eot?#iefix") format('embedded-opentype'), url("fonts/TodaySHOP-Bold.woff") format('woff'), url("fonts/TodaySHOP-Bold.ttf") format('truetype'), url("fonts/TodaySHOP-Bold.svg#TodaySHOP-BF") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TodaySHOP-MF';
  src: url("fonts/TodaySHOP-Medium.eot");
  src: url("fonts/TodaySHOP-Medium.eot?#iefix") format('embedded-opentype'), url("fonts/TodaySHOP-Medium.woff") format('woff'), url("fonts/TodaySHOP-Medium.ttf") format('truetype'), url("fonts/TodaySHOP-Medium.svg#TodaySHOP-MF") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TodaySHOP-LF';
  src: url("fonts/TodaySHOP-Light.eot");
  src: url("fonts/TodaySHOP-Light.eot?#iefix") format('embedded-opentype'), url("fonts/TodaySHOP-Light.woff") format('woff'), url("fonts/TodaySHOP-Light.ttf") format('truetype'), url("fonts/TodaySHOP-Light.svg#TodaySHOP-LF") format('svg');
  font-weight: normal;
  font-style: normal;
}
.text {
  color: #000;
  font-size: 1em;
  font-weight: 400;
  line-height: 1em;
}
.text--bold {
  font-family: 'TodaySHOP-BF', sans-serif;
}
.text--medium {
  font-family: 'TodaySHOP-MF', sans-serif;
}
.text--xs {
  font-size: 0.8em;
}
.text--sm {
  font-size: 0.9em;
}
.text--md {
  font-size: 1.2em;
}
.text--lg {
  font-size: 1.4em;
}
.text--xlg {
  font-size: 1.7em;
}
.text--xxlg {
  font-size: 2.2em;
}
.text--xxxlg {
  font-size: 2.6em;
}
.text--big {
  font-size: 5em;
}
.text--xtitle {
  font-size: 3.5em;
}
.text--title {
  font-size: 4em;
}
.text--yellow {
  color: #d7c561;
}
.text--green {
  color: #5b5f00;
}
.text--blue {
  color: #16293b;
}
.text--white {
  color: #fff;
}
.text--brow {
  color: #6f5e00;
}
.text--black {
  color: #000;
}
.text--italic {
  font-style: italic;
}
.linetext--xs {
  line-height: 0.6em;
}
.linetext--sm {
  line-height: 0.7em;
}
.linetext--md {
  line-height: 1em;
}
.linetext--lg {
  line-height: 1.2em;
}
.linetext--xlg {
  line-height: 1.5em;
}
.linetext--xxlg {
  line-height: 2em;
}
.linetext--big {
  line-height: 4em;
}
.linetext--title {
  line-height: 2.5em;
}
.link {
  background: none;
  font-weight: 400;
  outline: none;
  line-height: 1.2em;
  margin: 0.5em 0;
}
.link--none {
  text-decoration: none;
}
.link--none:hover,
.link--none:active,
.link--none:focus {
  text-decoration: none;
}
.error {
  color: rojo;
  font-family: fontTextL;
  font-size: 0.8em;
  font-weight: 300;
}
.input-big {
/* Double-sized */
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  vertical-align: middle;
}
.stripe {
  width: 100%;
}
.stripe--answer-one {
  min-width: 445px;
  max-width: 445px;
}
.stripe--answer-one i {
  color: #313f4d;
}
.stripe--question-six {
  min-width: 445px;
  max-width: 445px;
}
.stripe--question-six .stripe {
  padding: 0.001em 0;
}
.stripe--question-six i {
  color: #d7c561;
}
.stripe--answer-seven {
  min-width: 445px;
  max-width: 445px;
}
.stripe--answer-seven i {
  color: #d7c561;
}
.stripe--answer-three {
  min-width: 515px;
  max-width: 515px;
}
.stripe--answer-three .stripe {
  padding: 0;
}
.stripe--answer-four {
  min-width: 467px;
  max-width: 467px;
}
.stripe--answer-four i {
  color: #d7c561;
}
.stripe--answer-five {
  min-width: 467px;
  max-width: 467px;
}
.stripe--answer-five i {
  color: #5b5f00;
}
.stripe--yellow {
  background: #d7c561;
  padding: 14px 0 0 0;
  margin: 0;
  line-height: 51px;
}
.stripe--white {
  background: #e9e6e3;
  padding: 14px 0 0 0;
  margin: 0;
  line-height: 51px;
}
.stripe--blue {
  background: #2d3945;
  padding: 14px 0 0 0;
  margin: 0;
  line-height: 51px;
}
.stripe--green {
  background: #5b5f00;
  padding: 14px 0 0 0;
  margin: 0;
  line-height: 51px;
}
html {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  font-family: 'TodaySHOP-LF', sans-serif;
  font-size: 16px;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}
:focus,
border-color inherit,
-webkit-box-shadow none,
box-shadow none,
input[type=radio],
input[type=checkbox] {
  position: relative;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #144074;
  z-index: 9999;
}
#status {
  background: #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 5px 5px 15px 5px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 5px 5px 15px 5px rgba(0,0,0,0.1);
  box-shadow: inset 5px 5px 15px 5px rgba(0,0,0,0.1);
  height: 80px;
  left: 50%;
  margin: -60px 0 0 -60px;
  position: absolute;
  top: 50%;
  width: 80px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0;
}
.container-special {
  width: 800px;
}
.container-special_index .content-header {
  background: url("../images/special-header-home.jpg") repeat-y center top;
  height: 271px;
}
.container-special_index .content-header img {
  margin: 1.4em 0;
}
.container-special_index .content-header p {
  line-height: 0.6em;
}
.container-special_index .content-body {
  background: url("../images/special-bg-home.jpg") repeat-y center top;
}
.container-special_question-one .content-header {
  background: url("../images/special-header-question-one.jpg") repeat-y center top;
  height: 271px;
}
.container-special_question-one .content-header img {
  margin: 1.4em 0;
}
.container-special_question-one .content-header p {
  line-height: 0.6em;
}
.container-special_question-one .content-body {
  background: url("../images/special-bg-question-one.jpg") repeat-y center top;
}
.container-special_answer-one .content-body {
  background: #e9e6e5;
}
.container-special_question-seven .content-header {
  background: url("../images/special-header-question-seven.jpg") repeat-y center top;
  height: 271px;
}
.container-special_question-seven .content-header img {
  margin: 1.4em 0;
}
.container-special_question-seven .content-header p {
  line-height: 0.6em;
}
.container-special_question-seven .content-body {
  background: url("../images/special-bg-question-one.jpg") repeat-y center top;
}
.container-special_answer-seven .content-body {
  background: #16293b;
}
.container-special_question-two {
  background: url("../images/special-bg-question-two.jpg") no-repeat center top;
}
.container-special_answer-two {
  background: url("../images/special-bg-answer-two.jpg") no-repeat center top;
}
.container-special_answer-two .img-logo {
  margin-left: 1.8em;
}
.container-special_question-three .content-body {
  background: #16293b;
}
.container-special_answer-three {
  background: url("../images/special-bg-answer-three.jpg") no-repeat center top;
}
.container-special_answer-three .img-logo {
  margin-left: 1.8em;
}
.container-special_question-four {
  background: url("../images/special-bg-question-four.jpg") no-repeat right top #fefefe;
}
.container-special_question-four .img-logo {
  margin-left: 1.8em;
}
.container-special_answer-four {
  background: url("../images/special-img-answer-four.jpg") no-repeat left top #000;
}
.container-special_answer-four .img-logo {
  margin-left: 1.8em;
}
.container-special_question-five {
  background: url("../images/special-bg-question-five.jpg") no-repeat center bottom;
}
.container-special_answer-five {
  background: url("../images/special-img-answer-five.jpg") no-repeat left top #fff;
}
.container-special_answer-five .img-logo {
  margin-left: 1.8em;
}
.img-widthFull {
  width: 100%;
  background-size: cover;
}
@media screen and (max-width: 1440px) {
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 1200px) {
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
}
.btn {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
}
.btn-azul {
  color: #fff;
}
.btn-azul:hover,
.btn-azul:focus,
.btn-azul:active,
.btn-azul.active {
  color: #fff;
}
.btn-yellow {
  background: #d7c561;
  color: #16293b;
}
.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active,
.btn-yellow.active {
  background: #ad9822;
  color: #16293b;
}
.btn-green {
  background: #5b5f00;
  color: #fff;
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active {
  background: #888e06;
  color: #fff;
}
.btn-green_md {
  padding: 0.1em 1em;
}
.nav--menu {
  text-align: center;
}
.sidebar--menu {
  position: relative;
}
.sidebar-full_green {
  background: #5b5f00;
  padding: 0.1em 0 0 0;
}
.sidebar-full_blue {
  background: #144074;
  padding: 0.1em 0 0 0;
}
