<style>
    .text1{color: #bbb;font-family: Arial, Helvetica, sans-serif; font-size: 20px;}
    #chkList { width: 250px; height: 80px; border: 1px solid #eee; padding: 15px;}
    #chkList div {float: left; margin: 5px 0px 5px 0px; color: #333333; font-family: Arial, Helvetica, sans-serif; font-size: 14px; width: 120px; text-align: left;}
</style>
<div class="text1 fleft" style="width:250px;">LANGUAGE OPTIONS </div>
<div id="chkList">
<div>
    <label for="English" >
    <input type="checkbox" value="English"  class="lang">
    <span class="media-body">English</span> </label>
  </div>
  <div>
    <label for="Frentch" >
    <input type="checkbox" value="Frentch"  class="lang">
    <span class="media-body">TV</span> </label>
  </div>
  <div>
    <label for="Russian" >
    <input type="checkbox" value="Russian"  class="lang">
    <span class="media-body">Russian</span> </label>
  </div>
  <div>
    <label for="Hindi" >
    <input type="checkbox" value="Hindi"  class="lang">
    <span class="media-body">Hindi</span> </label>
  </div>
  <div>
    <label for="German" >
    <input type="checkbox" value="German"  class="lang">
    <span class="media-body">German</span> </label>
  </div>
  <div>
    <label for="Bulgarian" >
    <input type="checkbox" value="Bulgarian"  class="lang">
    <span class="media-body">Bulgarian</span> </label>
  </div>
</div>
<br/>
<div class="submitbtn"  > <input id="search" type="submit" value="Get Value" style="height:30px;" /></div>
 <script src="http://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
 <script type="text/javascript">
var lang;
$("#search").click(

function (e) {     
lang=""; 
$(".lang:checked").each(function() 
{
    lang+=$(this).val()+",";
});

alert(lang);
});
</script>
