html
	margin 0
	padding 0
	width 100%
body
	font-family font
	font-size 16px
	margin 0
	overflow-x hidden
	padding 0
	width 100%
:focus 
  border-color inherit
  -webkit-box-shadow none
  box-shadow none
input[type=radio], input[type=checkbox]
	position relative
#preloader
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	background azul;
	z-index 9999

#status
	background black
	border-radius 50%
	box-shadow inset 5px 5px 15px 5px rgba(0,0,0,0.1)
	height 80px
	left 50%
	margin -60px 0 0 -60px
	position absolute
	top 50%
	width 80px

.container
	margin-left auto
	margin-right auto
	max-width 800px
	padding 0
	&-special
		width 800px
		&_index
			& .content
				&-header
					background url("../images/special-header-home.jpg") repeat-y center top
					height 271px
					& img
						margin 1.4em 0
					& p
						line-height .6em
				&-body
					background url("../images/special-bg-home.jpg") repeat-y center top
		&_question-one
			& .content
				&-header
					background url("../images/special-header-question-one.jpg") repeat-y center top
					height 271px
					& img
						margin 1.4em 0
					& p
						line-height .6em
				&-body
					background url("../images/special-bg-question-one.jpg") repeat-y center top
		&_answer-one
			& .content
				&-body
					background #e9e6e5
		&_question-seven
			& .content
				&-header
					background url("../images/special-header-question-seven.jpg") repeat-y center top
					height 271px
					& img
						margin 1.4em 0
					& p
						line-height .6em
				&-body
					background url("../images/special-bg-question-one.jpg") repeat-y center top
		&_answer-seven
			& .content
				&-body
					background #16293b
		&_question-two
			background url("../images/special-bg-question-two.jpg") no-repeat center top
		&_answer-two
			background url("../images/special-bg-answer-two.jpg") no-repeat center top
			& .img
				&-logo
					margin-left 1.8em
		&_question-three
			& .content
				&-body
					background #16293b
		&_answer-three
			background url("../images/special-bg-answer-three.jpg") no-repeat center top
			& .img
				&-logo
					margin-left 1.8em					
		&_question-four
			background url("../images/special-bg-question-four.jpg") no-repeat right top #fefefe
			& .img
				&-logo
					margin-left 1.8em	
		&_answer-four
			background url("../images/special-img-answer-four.jpg") no-repeat left top #000
			& .img
				&-logo
					margin-left 1.8em			
		&_question-five
			background url("../images/special-bg-question-five.jpg") no-repeat center bottom
		&_answer-five
			background url("../images/special-img-answer-five.jpg") no-repeat left top #fff
			& .img
				&-logo
					margin-left 1.8em								
											
.img
	&-widthFull
		width 100%
		background-size cover					
@media screen and (max-width:1440px)
	body
		font-size 16px

/* Medium devices (large desktops, 1200px and up) */
@media screen and (max-width:1200px)
	body
		font-size 16px

/* Smal devices (desktops, 992px and up) */
@media screen and (max-width:992px)
	body
		font-size 16px

/* X - Small devices (tablets, 768px and up) */
@media screen and (max-width:768px)
	body
		font-size 16px
