.btn
	border-radius(30px)
	transition all 100ms linear
	&-azul
		color white
		&:hover, &:focus, &:active, &.active
			color white
	&-yellow
		background #d7c561
		color #16293b
		&:hover, &:focus, &:active, &.active
			background #AD9822
			color #16293b
	&-green
		background #5b5f00
		color #FFF
		&:hover, &:focus, &:active, &.active
			background #888E06
			color #FFF
		&_md
			padding .1em 1em