//IMPORTACION DE LAS FUENTES ARCHIVOS

@font-face
    font-family 'TodaySHOP-BF'
    src url('fonts/TodaySHOP-Bold.eot')
    src url('fonts/TodaySHOP-Bold.eot?#iefix') format('embedded-opentype'),url('fonts/TodaySHOP-Bold.woff') format('woff'),url('fonts/TodaySHOP-Bold.ttf') format('truetype'),url('fonts/TodaySHOP-Bold.svg#TodaySHOP-BF') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'TodaySHOP-MF'
    src url('fonts/TodaySHOP-Medium.eot')
    src url('fonts/TodaySHOP-Medium.eot?#iefix') format('embedded-opentype'),url('fonts/TodaySHOP-Medium.woff') format('woff'),url('fonts/TodaySHOP-Medium.ttf') format('truetype'),url('fonts/TodaySHOP-Medium.svg#TodaySHOP-MF') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'TodaySHOP-LF'
    src url('fonts/TodaySHOP-Light.eot')
    src url('fonts/TodaySHOP-Light.eot?#iefix') format('embedded-opentype'),url('fonts/TodaySHOP-Light.woff') format('woff'),url('fonts/TodaySHOP-Light.ttf') format('truetype'),url('fonts/TodaySHOP-Light.svg#TodaySHOP-LF') format('svg')
    font-weight normal
    font-style normal

font = 'TodaySHOP-LF', sans-serif
fontBold = 'TodaySHOP-BF', sans-serif
fontMedium = 'TodaySHOP-MF', sans-serif
sizeFont = 1em

.text
    color black
    font-size sizeFont
    font-weight 400
    line-height sizeFont
    // margin .5em 0
    &--bold
        font-family fontBold
    &--medium
        font-family fontMedium
    &--xs
        font-size sizeFont - 0.2
    &--sm
        font-size sizeFont - 0.1
    &--md
        font-size sizeFont + 0.2
    &--lg
        font-size sizeFont + 0.4
    &--xlg
        font-size sizeFont + 0.7
    &--xxlg
        font-size sizeFont + 1.2
    &--xxxlg
        font-size sizeFont + 1.6
    &--big
        font-size sizeFont + 4
    &--xtitle
        font-size sizeFont + 2.5
    &--title
        font-size sizeFont + 3
    //Colors Fonts
    &--yellow
        color #d7c561
    &--green
        color #5b5f00
    &--blue
        color #16293b
    &--white
        color #FFF
    &--brow
        color #6f5e00
    &--black
        color #000        
    &--italic
        font-style italic
.linetext
    &--xs
        line-height sizeFont - 0.4
    &--sm
        line-height sizeFont - 0.3
    &--md
        line-height sizeFont
    &--lg
        line-height sizeFont + 0.2
    &--xlg
        line-height sizeFont + 0.5
    &--xxlg
        line-height sizeFont + 1
    &--big
        line-height sizeFont + 3
    &--title
        line-height sizeFont + 1.5

.link
    background none
    font-weight 400
    outline none
    line-height 1.2em
    margin .5em 0
    &--none
        text-decoration none
        &:hover, &:active, &:focus
            text-decoration none

.error
    color rojo
    font-family fontTextL
    font-size .8em
    font-weight 300
.input-big
    /* Double-sized */
    -ms-transform scale(2) /* IE */
    -moz-transform scale(2) /* FF */
    -webkit-transform scale(2) /* Safari and Chrome */
    -o-transform scale(2) /* Opera */
    vertical-align middle
.stripe
    width 100%
    &--answer-one
        min-width 445px
        max-width 445px
        & i
            color #313f4d
    &--question-six
        min-width 445px
        max-width 445px
        & .stripe
            padding .001em 0
        & i
            color #d7c561
    &--answer-seven
        min-width 445px
        max-width 445px
        & i
            color #d7c561
    &--answer-three
        min-width 515px
        max-width 515px  
        & .stripe
            padding 0 
    &--answer-four
        min-width 467px
        max-width 467px
        & i
            color #d7c561  
    &--answer-five
        min-width 467px
        max-width 467px
        & i
            color #5b5f00                            
    &--yellow
        background #d7c561
        padding 14px 0 0 0
        margin 0
        line-height 51px       
    &--white
        background #e9e6e3
        padding 14px 0 0 0
        margin 0
        line-height 51px       
    &--blue
        background #2d3945  
        padding 14px 0 0 0
        margin 0
        line-height 51px        
    &--green
        background #5b5f00 
        padding 14px 0 0 0
        margin 0
        line-height 51px
       
