.margin
	&--t05
		margin-top .5em
	&--t1
		margin-top 1em
	&--t2
		margin-top 2em
	&--t3
		margin-top 3em
	&--t4
		margin-top 4em
	&--t5
		margin-top 5em
	&--t6
		margin-top 6em

	&--b0
		margin-bottom 0
	&--b05
		margin-bottom .5em
	&--b1
		margin-bottom 1em
	&--b2
		margin-bottom 2em
	&--b3
		margin-bottom 3em
	&--b4
		margin-bottom 4em
	&--b5
		margin-bottom 5em
	&--b6
		margin-bottom 6em
	&--all0
		margin 0
.padding
	&--t02
		padding-top .2em
	&--t05
		padding-top .5em
	&--t1
		padding-top 1em
	&--t2
		padding-top 2em
	&--t3
		padding-top 3em
	&--t4
		padding-top 4em
	&--t5
		padding-top 5em
	&--t6
		padding-top 6em
		
	&--b02
		padding-bottom .2em
	&--b05
		padding-bottom .5em
	&--b1
		padding-bottom 1em
	&--b2
		padding-bottom 2em
	&--b3
		padding-bottom 3em
	&--b4
		padding-bottom 4em
	&--b5
		padding-bottom 5em
	&--b6
		padding-bottom 6em
		
	&--l1
		padding-left 1em
	&--l2
		padding-left 2em		
	&--l3
		padding-left 3em			
	&--l4
		padding-left 4em	
	&--l5
		padding-left 5em
	&--l6
		padding-left 6em
		
	&--r0
		padding-right 0			
	&--r1
		padding-right 1em
	&--r2
		padding-right 2em		
	&--r3
		padding-right 3em			
	&--r4
		padding-right 4em	
	&--r5
		padding-right 5em					